@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.active{
    color: black; 
    font-weight: 500;
}


header, nav{
    z-index: 10001 !important;
}

.categorybtn button{
       color: black; 
       opacity: .50;
}

[x-cloak] { display: none; }